@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 145, 145, 145;
  --background-end-rgb: 255, 255, 255;


  --primary: #232732;
  --secondary: #293439;
  --main: #222528;
  --highlight: #788687;
  --accent: #987420;
  --accent-highlight: #f4805d;
  --text-primary: #d7dbde;
  --sub: #86888a;
}

* {
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-4xl {
  font-size: 2.25rem
    /* 36px */
  ;
  line-height: 2.5rem
    /* 40px */
  ;
}

svg path {
  fill: var(--text-primary)
}