@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 145, 145, 145;
  --background-end-rgb: 255, 255, 255;


  --primary: #132634;
  --secondary: #124157;
  --highlight: #4c8d91;
  --accent: #a58b5c;
  --accent-highlight: #C86040;

  --text-primary: #d0e2eb;
}

*{
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}