.container {
    width: max-content;
    background-color: rgba(60,69, 69, 69);
    border-color: black;
    overflow: auto;
    height: stretch;
    padding: 0;
    min-width: 250px;
    position: fixed;
    offset: 0;
}

.container * {
    width: 100%;
}